* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    scroll-behavior: smooth;
    scroll-padding-top: 45px;
  }
  
  body {
    font-family: system-ui;
    line-height: 1.6;
  }
  
  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
  }
  
  img {
    width: 100%;
    object-fit: cover;
  }
  
  li {
    list-style-type: none; /* Elimina esos puntos q son por defecto*/
  }
  
  .padre {
    display: grid; /* 1 columna*/
    grid-template-columns: 100%;
    grid-template-areas:
      "imagen"
      "contenido";
    align-items: center; /* ALinear en vertical*/
    margin-bottom: 20px;
    gap: 20px;
  }
  
  a{
    text-decoration: none;
  }
  
  /* estilos para la section*/
  
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .color-section {
    background-color: #f1f1f1;
  }
  
  .titulo-section {
    text-align: center;
    padding-bottom: 50px;
  }
  
  /* Estilos del banner*/
  
  .banner {
    background-image: url("edificio.jpg");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: overlay;
    color: white; /* heredable */
  }
  
  .banner-envoltorio {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinear en el eje principal */
    align-items: center; /* Alinea en el eje secundario*/
    text-align: center;
    gap: 20px;
  }
  
  .banner-titulo {
    font-size: 50px;
    line-height: normal;
  }
  
  .banner-titulo > span {
    color: rgb(255, 0, 0);
  }
  
  .boton {
    background-color: rgb(255, 0, 0);
    padding: 10px 20px;
    color: white;
    border-radius: 3px;
  
  }
  
  .titulo {
    font-size: 35px;
    line-height: normal;
    margin-bottom: 15px;
  }
  
  .destacado {
    color: orangered;
  }
  
  .parrafo {
    line-height: 1.5;
  }
  
  .contenedor {
    /*background-color: greenyellow;*/
    grid-area: contenido;
  }
  
  .imagen {
    grid-area: imagen;
    aspect-ratio: 1 / 1; /* va a tener el mismo ancho y mismo alto*/
  }
  
  .padre-invertido {
    grid-template-areas:
      "imagen"
      "contenido";
  }
  
  /* Va a limitar el ancho de su contendor  */
  .envoltorio {
    width: 90%;
    max-width: 900px;
    margin-left: auto; /* el margin en auto absorbe el espacio que no se usa*/
    margin-right: auto;
  }
  
  /* Seccion de Comentarios */
  
  .comentario-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 80%;
    grid-gap: 15px;
    gap: 15px;
    align-items: start;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  .comentario-container > * {
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }
  @media screen and (min-width: 640px) {
    .comentario-container {
      grid-auto-columns: 55%;
    }
  }
  @media screen and (min-width: 1024px) {
    .comentario-container {
      grid-auto-flow: row;
      grid-auto-columns: auto;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  .comentario {
    background-color: #fff;
    border: 1px solid rgb(204, 204, 204);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
  }
  .comentario-icon {
    width: 40px;
    color: #f8a209;
  }
  .comentario-img {
    margin-top: 25px;
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }
  .comentario-texto {
    color: #363636;
  }
  .slider-contenedor {
    position: relative;
    
  }
  .slider-boton-izquierda {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    background-color: #000;
    display: none;
    outline: 0;
    z-index: 20;
    padding: 7px;
    color: #fff;
    border-radius: 50%;
  }
  .slider-boton-izquierda > svg {
    transform: rotate(-90deg);
    pointer-events: none;
  }
  .slider-boton-izquierda.show {
    display: flex;
  }




  
  @media screen and (min-width: 1024px) {
    .slider-boton-izquierda.show {
      display: none;
    }
  }
  .slider-boton-derecha {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    background-color: #000;
    display: none;
    outline: 0;
    z-index: 20;
    color: #fff;
    border-radius: 50%;
    padding: 7px;
  }
  .slider-boton-derecha > svg {
    transform: rotate(90deg);
    pointer-events: none;
  }
  .slider-boton-derecha.show {
    display: flex;
  }
  @media screen and (min-width: 1024px) {
    .slider-boton-derecha.show {
      display: none;
    }
  }
  
  
  /* estilos de la carta  */
  
  .carta {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0px 15px -3px #0000002b, 0 0px 6px -4px #0000002b;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr;
  }
  
  .carta-contenido {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .carta-precio {
    color: red;
    font-weight: 700;
    font-size: 20px;
  }
  
  .carta-titulo {
    font-weight: 700;
  }
  
  .carta-footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between; /* alinear en el eje principal*/
    align-items: center;
  }
  
  .carta-enlace {
    background-color: #fec600;
    padding: 6px 40px;
    color: black;
    font-weight: 600;
    border-radius: 3px;
  }
  
  .carta-contenedor {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  /* boton de wsp*/
  
  .WhatsApp-boton {
    position: fixed;
    bottom: 0.3rem;
    right: 0.3rem;
    display: block;
    width: 100px;
    aspect-ratio: 1/1;
    z-index: 100;
  }
  .WhatsApp-span {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #38cb4e;
    box-shadow: 0 0 7px 2px #00000034;
    display: grid;
    align-items: center;
    justify-items: center;
    place-items: center;
    padding: 0.5rem;
    border-radius: 50%;
    color: #fff;
    transform: translate(-50%, -50%) scale(0);
    animation: WhatsApp 0.5s 1.5s forwards ease;
  }
  .WhatsApp-span > svg {
    width: -moz-max-content;
    width: max-content;
  }
  .WhatsApp-span:after {
    content: "1";
    display: grid;
    align-items: center;
    justify-items: center;
    place-items: center;
    background-color: red;
    width: 2rem;
    aspect-ratio: 1/1;
    transform: scale(0);
    font-weight: 800;
    position: absolute;
    top: -8px;
    right: -8px;
    border-radius: 50%;
    animation: Notificacion 20s 8s linear infinite;
  }
  @keyframes Notificacion {
    2%,
    23% {
      transform: scale(0.7);
    }
    26%,
    to {
      transform: scale(0);
    }
  }
  @keyframes WhatsApp {
    to {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  
  /******* menu **********/
  
  .header{
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0 15px 15px -3px #00000016, 0 6px 6px -4px #0000000f;
    z-index: 100;
  
  }
  
  .menu{
    /* background-color: crimson; */
    display: flex;
    justify-content: space-between;
  }
  
  .boton-hamburguesa{
    display: block;
  }
  
  @media screen and (width > 600px) {
    .boton-hamburguesa{
      display: none;
    }
  }
  
  .menu-list{
    display: flex;
    align-items: center;
  
    
  }
  
  @media screen and (width < 600px) {
    .menu-list{
      background-color: rgb(235, 235, 235);
      position: fixed;
      top: 60px;
      left: 0;
      right: 0;
      bottom: 0;
      flex-direction: column;
      justify-content: center;
      gap: 16px;
      padding: 16px;
      font-size: 17px;
      transform: translateX(100%);
      transition: transform 0.5s;
      /* z-index: 1000; */
      
    }
  
    .menu-list.active{
      transform: translateX(0);
    }
  }
  
  .menu-enlace{
    padding: 4px 15px;
    text-decoration: none;
    color: black;
  
  }
  
  .logo{
    width: 50px;
  }
  
  
  
  
  /* Cuando el ancho de la ventana sea mayor a 600px 
      aplicale estos estilos
  */
  @media screen and (width > 600px) {
    .padre {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "imagen contenido";
    }
  
    .padre-invertido {
      grid-template-areas: "contenido imagen";
    }
  
    .tablero {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .carta-contenedor {
      grid-template-columns: 1fr 1fr; /* añadismo 1 columna mas*/
    }
  }
  
  @media screen and (width > 1024px) {
    .carta-contenedor {
      grid-template-columns: 1fr 1fr 1fr; /* añadismo 4 columna mas*/
    }
  }
  
  
  /*  Footer  */
  
  .footer_principal {
    background-color: rgb(27, 27, 27);
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
  }
  
  .footer_grupo {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    /* Alinear */
    justify-content: space-between; /* espacio entre elementos  */
    align-items: center;
  }
  
  
  @media screen and (width > 600px) {
    .footer_grupo {
      flex-direction: row;
    }
  }